.input-div {
  margin: 20px 20px;
}
.input-field {
  border: 0;
  background-color: var(--Light-cyan-2);
  width: 100%;
  text-align: right;
  font-size: 24px;
  border-radius: 5px;
}
.input-sign {
  position: absolute;
  left: 20px;
  margin: 10px 10px;
  width: 12px;
}
