.input-div {
  margin: 20px 20px;
}
.input-field {
  border: 0;
  background-color: var(--Light-cyan-2);
  width: 100%;
  text-align: right;
  border-radius: 5px;
}

.input-sign {
  position: absolute;
  left: 20px;
  margin: 10px 10px;
  width: 12px;
}

.input-flex {
  display: flex;
  justify-content: space-between;
}
.bill-red-flag {
  color: rgba(255, 0, 0, 0.7);
  display: none;
}
.count-red-flag {
  color: rgba(255, 0, 0, 0.7);
  display: none;
}
.zero {
  display: block;
}
.zero-input:focus {
  border: 1px solid red !important;
}
@media only screen and (min-width: 768px) {
  .input-sign {
    left: 13%;
  }
}
@media only screen and (min-width: 1024px) {
  .input-sign {
    width: 20px;
    left: 14%;
  }
}
