.tip {
  margin: 20px 20px;
}
.tip-grid {
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33%);
  gap: 15px 10px;
  padding: 10px 0;
}
.tip-button {
  background-color: var(--Very-dark-cyan);
  border: 0;
  font-size: 24px;
  color: var(--White);
  align-self: center;
  font-weight: 700;
  border-radius: 5px;
}
.custom-input {
  height: 100%;
  text-align: right;
  width: 100%;
  border: 0;
  border-radius: 5px;
}
.custom-input::placeholder {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.active {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

@media only screen and (min-width: 768px) {
  .tip-grid {
    height: 80%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(3, 33%);
    gap: 0px 10px;
    padding: 10px 0;
  }
  .tip-button {
    height: 80%;
  }
  .custom-input-div{
    display: flex;
  }
  .custom-input {
    height: 80%;
    align-self: center;
  }
}

@media only screen and (min-width: 1024px) {
  .tip-button {
    height: 70%;
  }
  .custom-input {
    height: 70%;
  }
  .result-amount{
    font-size: 3em;
  }
  .input-div{
    padding: 20px;
  }
  .tip{
    padding: 20px;
  }
  .input-field {
    padding: 10px;
  }
  .input-title{
    font-size: 1.5em;
  }
}