@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-cyan: hsl(186, 14%, 43%);
  --Dark-cyan-2: hsl(184, 14%, 56%);
  --Light-cyan: hsl(185, 41%, 84%);
  --Light-cyan-2: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  font-family: "Space Mono", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Light-cyan);
}
.logo {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-body {
  background-color: var(--White);
  height: 100vh;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-rows: 60% 40%;
}
.calc-input {
  display: grid;
  grid-template-rows: 25% 50% 25%;
}
.calc-output-body {
  background-color: var(--Very-dark-cyan);
  border-radius: 20px;
  height: 80%;
  margin: 10px 20px;
  display: grid;
  grid-template-rows: 25% 25% 50%;
}
.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-btn {
  border-radius: 5px;
  background-color: var(--Strong-cyan);
  width: 90%;
  height: 40%;
  border: 0;
  margin-top: 5%;
  font-size: 1em;
}

input {
  color: var(--Very-dark-cyan);
  font-size: 24px;
  font-weight: 600;
}
.input-title {
  font-size: 0.8em;
  color: var(--Very-dark-cyan);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none !important;
  border: 1px solid var(--Light-cyan);
}

@media only screen and (min-width: 768px) {
  .calculator-body {
    width: 80%;
    margin: auto;
    height: 65vh;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    border-radius: 20px;
  }
  .calc-input{
    height: 90%;
  }
  .calc-output {
    display: flex;
  }
  .calc-output-body {
    align-self: center;
    width: 100%;
  }
  .reset-button {
    align-items: flex-end;
  }
  .reset-btn {
    height: 25%;
    width: 80%;
    margin-bottom: 10%;
  }
  .result {
    margin: 10% 5% 0 10% !important;
  }
}
@media only screen and (min-width: 1024px) {
  .calculator-body{
    height: 70vh;
  }
  .calc-input{
    height: 65%;
  }
  .reset-btn {
    font-size: 1.5em;
  }
  .result-heading{
    font-size: 1.5em;
  }
  .tip-grid{
    height: 140%!important;
  }
  .calc-output{
    height: 75%;
  }
}
